{% extends 'catalog/base.html' %}
{% block title %}Выход{% endblock %}
{% block content %}

<p>Вы вышли из  своей учетной записи. До новых встреч!</p>
<div class="container">
  <form class="row" method="post" enctype="multipart/form-data">
      <div class="col-6">
          <div class="card">
              <div class="card-body">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                    Войти
                    </button>
              </div>
          </div>
      </div>
  </form>
</div>
{% endblock %}
