{% extends 'Blogs/base.html' %}

{% block title %}Детали поста{% endblock %}

{% block content %}
{% include 'Blogs/header.html' %}
<h2>{{ blog.title }}</h2>
<p>Содержимое поста: {{ blog.content }} </p>
<p>Дата публикации: {{ blog.created_at|date:"d M Y" }}</p>
<a href="{% url 'blogs_edit' blog.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'blogs_delete' blog.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'blogs_list' %}" class="btn btn-primary">Вернуться к списку</a>
{% endblock %}