<!DOCTYPE html>
{% extends 'base.html' %}
{% load my_tags %}

{% block content %}
  <div class="row mb-2">
    <div class="col-md-6">

      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{object.title}}</h3>
          <div class="mb-1 text-body-secondary">{{object.created_at}}</div>
          <p class="card-text mb-auto">{{object.content}}.</p>

        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{object.image | media_filter}}">
        </div>
      </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-primary" role="button" href="{% url 'blogs:blogs_list' %}">Назад</a>
          </div>
        </div>

    </div>
  </div>
{% endblock %}