{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Детали поста{% endblock %}

{% block content %}
{% include 'header.html' %}
<h2>{{ blog.title }}</h2>
<p>Содержимое поста: {{ blog.content }} </p>
<p>Дата публикации: {{ blog.created_at|date:"d M Y" }}</p>
<p>{{ blog.created_at|date:"d M Y" }}</p>
        <div class="col-auto d-none d-lg-block">
          <img src="{{blog.image | media_filter}}">
        </div>
<p>Просмотров: {{ blog.views_counter}}</p>
<a href="{% url 'blogs:blogs_edit' blog.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'blogs:blogs_delete' blog.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'blogs:blogs_list' %}" class="btn btn-primary">Вернуться к списку</a>
{% endblock %}